<header class="nav-bar">
  <nav>
    <ul class="navigation">
      <li><a class="{{#if activeHome}}current{{/if}}" href="/">Home</a></li>
      <li><a class="{{#if activeBeers}}current{{/if}}" href="/beers">Beers</a></li>
      <li><a class="{{#if activeRandomBeers}}current{{/if}}" href="/random-beer">Random Beer</a></li>
    </ul>
  </nav>
</header>