<section class="homePage">
    <h1>Home</h1>
    <img src="/images/beer.png" alt="Beer" width="300px">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/random-beer">Check a Random Beer!</a>
</section>