<section class="ib-homepage">
    <h2 class="ib-homepage__headline sr-only">
        Home
    </h2>
    <img class="ib-homepage__poster" src="/images/beer.png" alt="Beer">
    <a class="ib-button ib-homepage__button-primary" href="/beers">
        Check the Beers!
    </a>
    <a class="ib-button ib-homepage__button-secondary" href="/random-beer">
        Check a Random Beer!
    </a>
</section>